---
title: Many thanks!!
description: Got your poem alright!
image: /images/arget-zvhhkivur9m-unsplash.jpg
sitemap: false
lang-ref: contact-success
layout: default
---

{% include relBase.html %}

<!-- Banner -->
<section class="banner onload-image-fade-in onload-content-fade-right style2 fullscreen content-align-center image-position-center" style="height:100vh;background-color: rgba(13,13,13,0.5);">

  <div class="content editable">
    <h1 class="editable">{{ page.title }}</h1>
    <p>{{ page.description }}</p>
    <ul class="actions stacked">
      <li><a href="/" class="button big wide smooth-scroll">Take me home!</a></li>
    </ul>
  </div>

  <div class="image">
    <img src="{{ relBase }}{{ page.image }}" alt="" class="editable" />
  </div>
</section>

{% include footer.html %}
