---
title: Post Tenebras Lux
layout: default
description: >-
  Panix Heavy Industries
image: /siteicon.png
logo_image: /images/panix-logoicon.svg
date: 2018-12-11 00:00:00
---
{% include relBase.html %}
<!-- Banner -->
<section
  class="banner onload-image-fade-in onload-content-fade-right style5 fullscreen content-align-center image-position-center;"
  style="background-image:url('/images/nebula-bw.jpg');background-size:cover;background-repeat:no-repeat;background-position: center;min-height:100vh">
  <div
    style="z-index:0;position:absolute; top:0; left:0; width:100%;height:100%;background-color: rgba(13, 13 ,13, 0.75);">
  </div>
  <div class="content" style="z-index:1">
    <h1 style="margin-top:80px">{{ page.title }}</h1>

    <p class="major">{{ page.description }}</p>
    <ul class="actions stacked">
      <li><a href="#music" class="button large wide smooth-scroll">Gimme Music!</a></li>
    </ul>
  </div>

  <div class="image">
    <img src="{{ relBase }}{{ page.logo_image }}" alt="{{ site.title }} logo" />
  </div>
</section>
<!-- Posts -->


{% for post in site.posts %}

<section id="album{% increment var %}"
  class="section-shadow banner style1 orient-{% cycle 'left', 'right' %} content-align-{% cycle 'right', 'left' %} image-position-center fullscreen onload-image-fade-in onload-content-fade-right">

  <div class="content">
    <h1>{{ post.title }}</h1>
    <p>{{ post.description }}</p>
    {% if post.category == 'releases' %}
    {% capture album_name -%}
    {{ post.album }}
    {%- endcapture %}
    {% for album in site.albums %}
    {% capture name -%}
    {{ album.relative_path | replace_first: album.collection, '' | replace_first: '_/', '' | replace_first: '.md', '' }}
    {%- endcapture %}
    {% if name == album_name %}
    <p>{{ album.date | date: '%Y' }}</p>
    
    {% for track in album.tracks %}
    <p style="margin-bottom: 30px; font-size: 14px">
      <strong>{{ track.common.track.no }}. {{ track.common.title }}</strong><br />
      <span id="{{ track.common.title | slugify | remove: '-'  }}"></span> | 
      <span style="font-size: 14px">{{ track.common.genre }} </span>
    </p>
   

    <script type="text/javascript">
      var {{ track.common.title | slugify | remove: '-'  }}timestamp = {{ track.format.duration | round }};
      var {{ track.common.title | slugify | remove: '-'  }}hours = Math.floor({{ track.common.title | slugify | remove: '-'  }}timestamp / 60 / 60);
      var {{ track.common.title | slugify | remove: '-'  }}minutes = Math.floor({{ track.common.title | slugify | remove: '-'  }}timestamp / 60) - ({{ track.common.title | slugify | remove: '-' }}hours * 60);
      var {{ track.common.title | slugify | remove: '-'  }}seconds = {{ track.common.title | slugify | remove: '-' }}timestamp % 60;
      var {{ track.common.title | slugify | remove: '-'  }}formatted = {{ track.common.title | slugify | remove: '-' }}hours.toString().padStart(2, '0') + ':' + {{ track.common.title | slugify | remove: '-' }}minutes.toString().padStart(2, '0') + ':' + {{ track.common.title | slugify | remove: '-' }}seconds.toString().padStart(2, '0');
      var theSpan = document.getElementById("{{ track.common.title | slugify | remove: '-'  }}");
      theSpan.innerHTML = {{ track.common.title | slugify | remove: '-' }}formatted;
    </script>
    {% endfor %}
    {% break %} {% endif %} {% endfor %}
    {% endif %}
    
<br />
    <ul class="actions stacked">
      
      <li><a href="{{ relBase }}{{ post.url }}"
          class="button big wide {% if post.category == 'releases' %}icon solid fa-volume-up{% endif %}">Cheggid out</a>
      </li>
    </ul>
  </div>

  <div class="image">
    <img src="{{ relBase }}{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}" />

  </div>
</section>

{% endfor %}

<!-- Insta -->
<section class="wrapper style1 align-center">

  <div class="inner">
    <h2 id="music">Releases</h2>
    <p>Collection of releases through time</p>
  </div>

  <div class="gallery style1 small onscroll-fade-in">
    {% assign sorted = site.albums | sort: 'date' | reverse %}
    {% for album in sorted %}
    <article>
      <a href="{{ album.url }}" class="image">
        <img src="{{ site.mediaurl }}/{{ album.slug }}/{{ album.tracks[0].trackSlug }}.jpeg" alt="" /></a>
      
      <div class="caption">
        <h3>{{ album.title }}</h3>
        <p>{{ album.date | date: "%Y" }}</p>
        <ul class="actions fixed">
          <li><span class="button small">Details</span></li>
        </ul>
      </div>
    </article>
    {% endfor %}
  </div>
</section>

<!-- END Insta -->










{% include footer.html %}