<!-- Footer -->
<footer id="footer" class="wrapper style1 align-center">
  <div class="footflex">
    <div>
      <h4>{{ site.title }}</h4>
      <p>{{ site.description }}
      <br /><a href="mailto:{{ site.author.mail }}">{{ site.author.mail }}</a></p>
    </div>
    <div>
      <ul>
        {% if page.url != '/' %}
        <li><a href="{{ relBase }}/">{{ site.data.translations[page.lang].home }}</a></li>
        {% endif %}
        {% for entry in site.data.navigation %}
        <li><a href="{{ entry.url }}">{{ entry.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div><img src="{{ rekBase }}/assets/panix-logo-dark.svg" style="max-width:300px" alt="{{ site.title }} Logo" /></div>
  </div>
  <div class="inner">
    <ul class="icons">
      {% for nw in site.data.stores %}

      <li><a target="_blank" alt="{{ site.title }} on {{ nw.name }}" title="{{ site.title }} on {{ nw.name }}" rel="noopener" href="{{ nw.url }}" class="icon brands style2 {{ nw.icon }}"><span class="label">{{ nw.name }}</span></a></li>

      {% endfor %}
      <li><a href="mailto:{{ site.author.mail }}" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <p>&copy;{{ site.time | date: '%Y' }} {{ site.publisher.name }} | <a href="{{ relBase }}/webcreds/">Credits</a> | <a href="{{ relBase }}/cookies/">Cookies & Privacy</a></p>
  </div>
</footer>
