---
---
<!DOCTYPE HTML>
<!--
  Based on _Story_ by html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
  Remixed and Jekyllified by Setto
-->
<html lang="{% if page.lang != site.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}">
<head>
{% include seo.html %}
{% include relBase.html %}

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
<link rel="stylesheet" href="{{ relBase }}/assets/css/main20200519.css" />

<link rel="apple-touch-icon" href="{{ site.url }}/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ site.url }}/touch-icon.png" sizes="192x192">
<link rel="shortcut icon" href="{{ site.url }}{{ site.icon }}" type="image/png" />
<noscript><link rel="stylesheet" href="{{ relBase }}/assets/css/noscript20200518-rev1.css" /></noscript>
</head>

<body id="body">
  <span id="top" style="display: none;"></span>
  <!-- Wrapper -->
  <div id="wrapper" class="divided">
    {{ content }}
  </div>
  {% include navigation.html %}
  {% include scripts.html %}
  {% include cookie-consent.html %}
</body>
</html>