---
layout: default
---

{% include relBase.html %}

<!-- Banner -->
<section class="banner onload-image-fade-in onload-content-fade-right style2 fullscreen content-align-center image-position-center" style="height:100vh;background-color: rgba(13,13,13,0.85);">

  <div class="content">
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>
  </div>

  <div class="image">
    <img src="{{ page.image }}" alt="unfound page" />
  </div>
</section>
<!-- Content -->
<section class="wrapper style1 align-center">
  <div class="inner">

    <div class="index align-left">
      <!-- Author -->
      <section>
        {% if page.url != '/cookies/' %}
        {% if page.url != '/webcreds/' %}
        {% include author.html %}
        {% endif %}{% endif %}
        <!-- Content -->
        <div class="content">
          {{ content }}

        </div>
      </section>
    </div>
  </div>
</section>




{% include footer.html %}